<main>
    <section class="main">
        <h1>¡¡BIENVENIDOS!!</h1>
        <p>Bienvenidos a nuestra galería de imágenes de tecnología, donde la innovación y la creatividad se encuentran. Explora una colección impresionante de fotografías que capturan los avances más recientes en el mundo tecnológico. Desde dispositivos futuristas hasta soluciones digitales revolucionarias, cada imagen cuenta una historia de progreso y transformación. Sumérgete en el fascinante universo de la tecnología y descubre cómo está moldeando nuestro futuro.</p>
        <p><strong><a href="galeria.html">Ver más...</a></strong></p>
    </section>
</main>
